body{	
	font-family: 'Nunito Sans', sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: inherit;
}
.border--grey{
	border-bottom: 10px solid #222;
}

/* header-navigation */
.header{
	background-image: linear-gradient(to top,rgba(0,0,0,.9) 0,rgba(0,0,0,.4) 60%,rgba(0,0,0,.7) 100%),
					  url(img/header-bg.jpg);
	background-size: cover;
	background-position: center;
}
.nav{
	height: 6.25rem;
}
.logo{
	height: 2.8125rem;
}
.header__content{
	height: 44.15rem; 
	/* ?? */
	padding-top: 8.6rem;
}
.h1{
	font-size: 4.6rem;
	font-weight: bold;
	line-height: 1.1;
}
h1{
	font-size: 3.6rem;
	font-weight: bold;
	line-height: 1.1;
}
h2{
	font-size: 1.8rem;
	line-height: 1.1;
}
h3{
	font-size: 1.37rem;
}
#button-addon2{
	font-size: 1.875rem;
}
.btn-danger{
	background: #DB0510;
}
.btn-danger:hover{
	background: #DB0510;
}
.input-group--hover:hover{
	background: #F40612;
}
label:focus{
	color: black;
}


/* sec-1 */
.sec-1__img{
	height: 24.853125rem;
}
.sec-1__image{
	position: relative;
}
.sec-1__video{
	height: 13.44rem;
	position: absolute;
	left: 11.2%;
	top: 21%;
	z-index: -1;
}


/* sec-2 */
.sec-2__img{
	/* width:5.714rem ; */
	height: 5.3rem;
}
.sec-2__imgMobil{
	width: 35.56rem;
}
.sec-2__gif{
	width: 3rem;
	height: 3.75rem;
	
	background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif);
	background-size: cover;
	background-position: center;
}
.sec-2__left{
	position: relative;
}
.sec-2__left-content{
	width: 20.68625rem;
	height: 6.5rem;
	border: 2px solid rgba(255,255,255,.25);
	border-radius: 0.75em;
	background-color: black;
	
	position: absolute;
	left: 20%;
	top: 70%;
	z-index: 5;
}
.p{
	color: #0071eb;
}














@media (max-width: 1200px) {
	h1, .h1 {
	  font-size: 4rem;
	}
}
@media (max-width: 992px) {
	h1, .h1 {
	  font-size: 3.8rem;
	}
}
@media (max-width: 678px) {
	h1, .h1 {
	  font-size: 3.2rem;
	}
}
@media (max-width: 576px) {
	h1, .h1 {
	  font-size: 2.5rem;
	}
}

